/* ~/Xresources */

! Xft.dpi: 142
! Xft.autohint: false
! Xft.antialias: true
*.font: LiterationMono Nerd Font:size=10:autohint=true:antialias=true:style=Regular
st.font: JetBrainsMono Nerd Font:size=10:autohint=true:antialias=true:style=Regular
dmenu.font: LiterationSans Nerd Font:size=11:autohint=true:antialias=true:style=Italic, Bold
dwm.font: LiterationSans Nerd Font:size=10:autohint=true:antialias:style=Bold
Xcursor.size: 12

#include ".Xresources.d/dark_theme"
#include ".Xresources.d/light_theme"

/* Overrides */
*.cursorColor: #dc322f

*.background: BG
*.foreground: FG
*.color0:     Black0
*.color8:     Black1
*.color1:     Red0
*.color9:     Red1
*.color2:     Green0
*.color10:    Green1
*.color3:     Yellow0
*.color11:    Yellow1
*.color4:     Blue0
*.color12:    Blue1
*.color5:     Magenta0
*.color13:    Magenta1
*.color6:     Cyan0
*.color14:    Cyan1
*.color7:     White0
*.color15:    White1

#define Accent0 Green0
#define Accent1 #EA6F81
#define Accent2 Yellow0
#define Accent3 White0

#define SelBg Black0
#define SelFg #EA6F81

#define NormFg FG
#define NormBg BG

#include ".Xresources.d/urxvt"
#include ".Xresources.d/suckless"
#include ".Xresources.d/xscreensaver"
